{% extends 'base.html' %} {% block content %}
<h1>hatchback</h1>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../static/images/pickup/pickup1.jpg"
            alt="Card image cap"
          />
          <div class="img-text">
            <h5>Benz G 500</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Low KM, Mint Condition, Full Options</p>
            <h5>$39,999 ONLY</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../static/images/pickup/pickup2.jpg"
            alt="Card image cap"
          />
          <div class="img-text">
            <h5>Shelby F-150</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Low KM, Mint Condition, Full Options</p>
            <h5>$29,999 ONLY</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../static/images/pickup/pickup3.jpg"
            alt="Card image cap"
          />
          <div class="img-text">
            <h5>Colorado Z71</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Low KM, Mint Condition, Full Options</p>
            <h5>$39,999 ONLY</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../static/images/pickup/pickup4.jpg"
            alt="Card image cap"
          />
          <div class="img-text">
            <h5>Devolro Diablo</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Low KM, Mint Condition, Full Options</p>
            <h5>$39,999 ONLY</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../static/images/pickup/pickup5.jpg"
            alt="Card image cap"
          />
          <div class="img-text">
            <h5>GMC Sierra 1500</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Low KM, Mint Condition, Full Options</p>
            <h5>$39,999 ONLY</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../static/images/pickup/pickup6.jpg"
            alt="Card image cap"
          />
          <div class="img-text">
            <h5>Conquest Evade</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Low KM, Mint Condition, Full Options</p>
            <h5>$39,999 ONLY</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../static/images/pickup/pickup7.jpg"
            alt="Card image cap"
          />
          <div class="img-text">
            <h5>Benz G63</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Low KM, Mint Condition, Full Options</p>
            <h5>$39,999 ONLY</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

  {% endblock %}

