{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="{{result.html}}">
          <div class="card">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    class="card-img-top"
                    src="../../static/images/suv/suv1.jpg"
                    alt="Card image cap"
                  />
                  <div class="img-text">
                    <h3>Benz G 500</h3>
                  </div>
                  <div class="text-container">
                    <p class="card-text">
                      Low KM, Mint Condition, Full Options
                    </p>
                    <h5>$39,999 ONLY</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="#">
          <div class="card">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    class="card-img-top"
                    src="../../static/images/suv/suv2.jpg"
                    alt="Card image cap"
                  />
                  <div class="img-text">
                    <h3>Shelby F-150</h3>
                  </div>
                  <div class="text-container">
                    <p class="card-text">
                      Low KM, Mint Condition, Full Options
                    </p>
                    <h5>$29,999 ONLY</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="#">
          <div class="card">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    class="card-img-top"
                    src="../../static/images/suv/suv3.jpg"
                    alt="Card image cap"
                  />
                  <div class="img-text">
                    <h3>Colorado Z71</h3>
                  </div>
                  <div class="text-container">
                    <p class="card-text">
                      Low KM, Mint Condition, Full Options
                    </p>
                    <h5>$39,999 ONLY</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="#">
          <div class="card">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    class="card-img-top"
                    src="../../static/images/suv/suv4.jpg"
                    alt="Card image cap"
                  />
                  <div class="img-text">
                    <h3>Devolro Diablo</h3>
                  </div>
                  <div class="text-container">
                    <p class="card-text">
                      Low KM, Mint Condition, Full Options
                    </p>
                    <h5>$39,999 ONLY</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="#">
          <div class="card">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    class="card-img-top"
                    src="../../static/images/suv/suv5.jpg"
                    alt="Card image cap"
                  />
                  <div class="img-text">
                    <h3>GMC S1500</h3>
                  </div>
                  <div class="text-container">
                    <p class="card-text">
                      Low KM, Mint Condition, Full Options
                    </p>
                    <h5>$39,999 ONLY</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="#">
          <div class="card">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    class="card-img-top"
                    src="../../static/images/suv/suv6.jpg"
                    alt="Card image cap"
                  />
                  <div class="img-text">
                    <h3>Conquest Evade</h3>
                  </div>
                  <div class="text-container">
                    <p class="card-text">
                      Low KM, Mint Condition, Full Options
                    </p>
                    <h5>$39,999 ONLY</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="#">
          <div class="card">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    class="card-img-top"
                    src="../../static/images/suv/suv7.jpg"
                    alt="Card image cap"
                  />
                  <div class="img-text">
                    <h3>Benz G63</h3>
                  </div>
                  <div class="text-container">
                    <p class="card-text">
                      Low KM, Mint Condition, Full Options
                    </p>
                    <h5>$39,999 ONLY</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
